.add-song-modal textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 10px;
    outline: none;
    height: 57px;
}

.add-song-modal textarea:focus {
    border-color: var(--orange-base);
}

.add-song-modal .form-element ul {
    margin-top: 10px;
    display: flex;
    column-gap: 13px;
}

.add-song-modal .form-element ul li {
    background-color: var(--gray);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-song-modal .form-element ul li.actif {
    background-color: var(--orange-base);
}

.add-song-modal .form-element ul li:active {
    transform: scale(.9);
}

.add-song-modal .form-element ul li img {
    height: auto;
}

.add-song-modal .form-element .input-container {
    position: relative;
}

.add-song-modal .form-element .inputs-container input {
    padding-left: 45px;
}

.add-song-modal .form-element .input-container span {
    width: 33px;
    height: 32px;
    background-color: var(--gray);
    position: absolute;
    border-radius: 7px;
    top: 4px;
    left: 4px;
    transition:  all .10s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-song-modal .form-element .input-container:focus-within span {
    background-color: var(--orange-base);
}

.remove-document-modal p:nth-child(3) {
    margin-top: 15px;
    color: red;
}

.remove-document-modal {
    background-color: white;
    width: 100%;
    max-width: 350px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.remove-document-modal.enabled {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.remove-document-modal h3 {
    margin-bottom: 20px;
    color: red;
}

.remove-document-modal .remove-document-choices {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.remove-document-modal .remove-document-choices button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 34px;
}

.remove-document-modal .remove-document-choices button.yes:disabled,
.remove-document-modal .remove-document-choices button.no:disabled {
    background-color: var(--gray);
    color: var(--black);
}

.remove-document-modal .remove-document-choices button.yes {
    background-color: red;
    color: white;
}

.remove-document-modal .remove-document-choices button.yes img {
    width: 19px;
    height: auto;
}

.remove-document-modal .remove-document-choices button.no {
    background-color: var(--black);
    color: white;
}

.remove-document-choices span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.remove-document-choices span:has(button) {
    display: block;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.remove-document-choices span:has(button.yes) {
    border: 1px solid red;
}

.remove-document-choices span:has(button.no) {
    border: 1px solid var(--black);
}

.remove-document-choices span:has(button:disabled){
    border-color: var(--gray);
    transform: none;
}