.add-song-modal textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 10px;
    outline: none;
    height: 57px;
}

.add-song-modal textarea:focus {
    border-color: var(--orange-base);
}

.add-song-modal .form-element ul {
    margin-top: 10px;
    display: flex;
    column-gap: 13px;
}

.add-song-modal .form-element ul li {
    background-color: var(--gray);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-song-modal .form-element ul li.actif {
    background-color: var(--orange-base);
}

.add-song-modal .form-element ul li:active {
    transform: scale(.9);
}

.add-song-modal .form-element ul li img {
    height: auto;
}

.add-song-modal .form-element .input-container {
    position: relative;
}

.add-song-modal .form-element .inputs-container input {
    padding-left: 45px;
}

.add-song-modal .form-element .input-container span {
    width: 33px;
    height: 32px;
    background-color: var(--gray);
    position: absolute;
    border-radius: 7px;
    top: 4px;
    left: 4px;
    transition:  all .10s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-song-modal .form-element .input-container:focus-within span {
    background-color: var(--orange-base);
}

.remove-song-modal p:nth-child(3) {
    margin-top: 15px;
    color: red;
}

.remove-document-modal {
    background-color: white;
    width: 100%;
    max-width: 350px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.remove-document-modal.enabled {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}