.add-song-modal textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 10px;
    outline: none;
    height: 57px;
}

.add-song-modal textarea:focus {
    border-color: var(--orange-base);
}

.add-song-modal .form-element ul:nth-child(2) {
    margin-top: 10px;
    display: flex;
    column-gap: 13px;
}

.add-song-modal .form-element ul li {
    background-color: var(--gray);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-song-modal .form-element ul li:active {
    transform: scale(.9);
}

.add-song-modal .form-element ul li img {
    height: auto;
}