.dashboard-settings-container {
    width: calc(100% - 180px);
    height: max-content;
    padding: 0 20px;
    position: relative;
}

.dashboard-settings-container .page-header-container {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
}

.dashboard-settings-container .header {
    width: 100%;
}

.dashboard-settings-container .header .page-title {
    height: 100px;
    display: flex;
    align-items: center;
}

.dashboard-settings-container .header h1 {
    margin-left: 15px;
}

.dashboard-settings-container .body {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    column-gap: 20px;
}

.dashboard-settings-container .body .left,
.dashboard-settings-container .body .right {
    width: 50%;
}

.dashboard-settings-container .body .left form:nth-child(4) {
    margin-top: 30px;
}

.dashboard-settings-container form:not(
    .change-personal-infos-modal form,
    .change-password-modal form
) {
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #acacac00, -3px -3px 10px #acacac00;
}

.dashboard-settings-container form:hover {
    border-color: var(--orange-base);
}

.dashboard-settings-container form input {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.dashboard-settings-container form input:focus {
    border-color: var(--orange-base);
}

.dashboard-settings-container form .form-element:nth-child(2),
.dashboard-settings-container form .form-element:nth-child(3) {
    margin-top: 30px;
}

.dashboard-settings-container form .form-element:nth-child(4) {
    margin-top: 30px;
    margin-bottom: 5px;
}

.dashboard-settings-container label {
    cursor: pointer;
}

.dashboard-settings-container button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-base);
}

.dashboard-settings-container button img {
    color: transparent;
    width: 30px;
    height: auto;
}

.dashboard-settings-container form span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    margin-top: 30px;
}

.dashboard-settings-container form span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.95);
}

.themes-container {
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #acacac00, -3px -3px 10px #acacac00;
}

.themes-container > p {
    margin: 20px 0;
}

.themes-elements {
    display: flex;
    column-gap: 15px;
}

.theme > div {
    padding: 3px;
    border: transparent solid 2px;
    border-radius: 14px;
    transition: all .10s ease-in-out;
}

.theme > div > div {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.themes-elements li:nth-child(2) > div > div {
    background-color: var(--orange-base);
}

.themes-elements li:last-child > div > div {
    background-color: var(--black);
}

.theme > div:hover {
    border: #fec70081 solid 2px;
}

.theme > div:active {
    transform: scale(0.95);
}

.theme .light-theme {
    width: 50%;
    height: 100%;
    background-color: var(--orange-base);
}

.theme .dark-theme {
    width: 50%;
    height: 100%;
    background-color: var(--black);
}

.theme p {
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
}

.themes-container button {
    background-color: var(--orange-base);
}

.themes-container span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    margin-top: 30px;
}

.change-personal-infos-modal,
.change-password-modal {
    background-color: white;
    width: 100%;
    max-width: 500px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
    top: 50px;
}

.change-personal-infos-modal.enabled,
.change-password-modal.enabled {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.change-personal-infos-modal p:nth-child(2),
.change-password-modal p:nth-child(2) {
    margin: 20px 0;
}

.change-personal-infos-modal p:nth-child(3),
.change-password-modal p:nth-child(3) {
    font-weight: 600;
    color: red;
}

.can-change-form .form-element:nth-child(3){
    display: flex;
    column-gap: 20px;
}

.can-change-form .form-element:nth-child(3) span{
    margin: 0;
}

.can-change-form .form-element:nth-child(3) span:first-child{
    border-color: var(--black);
}

.can-change-form .form-element:nth-child(3) span:first-child button{
    background-color: var(--black);
    color: white;
}

.can-change-form .form-element:nth-child(3) span:has(button:disabled){
    border-color: var(--gray);
}

.can-change-form .form-element:nth-child(3) span:nth-child(2) button:disabled{
    background-color: var(--gray);
    color: var(--black);
}

.change-personal-infos-modal .loader-search-icone,
.change-password-modal .loader-search-icone {
    width: 19px;
    height: auto;
}

.change-personal-infos-modal .close-modal,
.change-password-modal .close-modal {
    width: 25px;
    height: 25px;
    background-color: var(--gray);
    position: absolute;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
}

.change-personal-infos-modal .close-modal img,
.change-password-modal .close-modal img {
    height: auto;
    width: 10px;
}