.dashboard-layout {
    display: flex;
    width: 100%;
    height: 100vh;
}

.dashboard-songs-container {
    width: calc(100% - 180px);
    height: max-content;
    padding: 0 20px;
    position: relative;
}

.dashboard-songs-container .page-header-container {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
}

.dashboard-songs-container .header {
    width: 100%;
}

.dashboard-songs-container .header .page-title {
    height: 100px;
    display: flex;
    align-items: center;
}

.dashboard-songs-container .actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    height: max-content;
}

.dashboard-songs-container .header h1 {
    margin-left: 15px;
}

.dashboard-songs-container .filters-container {
    width: 50%;
}

.dashboard-songs-container .actions-container input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.dashboard-songs-container .actions-container input:focus {
    border-color: var(--orange-base);
}

.dashboard-songs-container .actions-container button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    background-color: var(--orange-base);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.dashboard-songs-container .actions-container span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.dashboard-songs-container .actions-container span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.dashboard-songs-container table {
    width: 100%;
    border-collapse: collapse;
    height: max-content;
    position: relative;
    margin-top: 45px;
}

.dashboard-songs-container table thead {
    background-color: var(--orange-base);
    position: sticky;
    top: 170px;
    z-index: 10;
}

.dashboard-songs-container table thead tr th:not(:nth-last-child(1)) {
    width: 18%;
}

.dashboard-songs-container th.actions,
.dashboard-songs-container td.actions {
    width: 10%;
}

.dashboard-songs-container td {
    text-align: center;
}

.dashboard-songs-container table th {
    padding: 10px;
}

.dashboard-songs-container table thead tr th:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-songs-container table thead tr th:nth-last-child(1){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
    
.dashboard-songs-container table tbody td {
    padding: 13px;
}

.dashboard-songs-container table tbody tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.143);
    font-size: 15px;
}

.dashboard-songs-container table tbody tr:hover {
    background-color: rgba(172, 172, 172, 0.143);
    cursor: pointer;
    transition: all .10s ease-in-out;
}

.dashboard-songs-container table .song-badge {
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.dashboard-songs-container table .song-badge.yes {
    background-color: var(--orange-base);
}

.dashboard-songs-container table .song-badge.no {
    background-color: var(--gray);
}

.add-song-overlay {
    background: rgba(57, 57, 57, 0.096);
    backdrop-filter: blur(4);
    width: 100%;
    height: 100dvh;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 250ms;
    z-index: 11;
}

.add-song-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.add-song-modal {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.add-song-modal.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.add-song-modal section {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.add-song-modal fieldset {
    width: 50%;
    border: none;
}

.add-song-modal input {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.add-song-modal input:focus {
    border-color: var(--orange-base);
}

.add-song-modal .form-element {
    margin-top: 20px;
}

.add-song-modal label {
    cursor: pointer;
}

.add-song-modal button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    background-color: var(--orange-base);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.add-song-modal span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.add-song-modal span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    width: 20%;
    margin-top: 30px;
}