.dashboard-layout {
    display: flex;
    width: 100%;
    height: 100vh;
}

.dashboard-songs-container,
.dashboard-artists-container {
    width: calc(100% - 180px);
    height: max-content;
    padding: 0 20px;
    position: relative;
}

.dashboard-songs-container .page-header-container,
.dashboard-artists-container .page-header-container {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
}

.dashboard-songs-container .header,
.dashboard-artists-container .header {
    width: 100%;
}

.dashboard-songs-container .header .page-title,
.dashboard-artists-container .header .page-title {
    height: 100px;
    display: flex;
    align-items: center;
}

.dashboard-songs-container .actions-container,
.dashboard-artists-container .actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    height: max-content;
}

.dashboard-songs-container .header h1,
.dashboard-artists-container .header h1 {
    margin-left: 15px;
}

.dashboard-songs-container .filters-container,
.dashboard-artists-container .filters-container {
    width: 50%;
}

.dashboard-songs-container .actions-container input,
.dashboard-artists-container .actions-container input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.dashboard-songs-container .actions-container input:focus,
.dashboard-artists-container .actions-container input:focus {
    border-color: var(--orange-base);
}

.dashboard-songs-container .actions-container button,
.dashboard-artists-container .actions-container button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    background-color: var(--orange-base);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 34px;
}

.dashboard-songs-container .actions-container button img,
.dashboard-artists-container .actions-container button img {
    height: auto;
    width: 12px;
}

.dashboard-songs-container .actions-container span:active,
.dashboard-artists-container .actions-container span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.dashboard-songs-container .actions-container span,
.dashboard-artists-container .actions-container span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.dashboard-songs-container table,
.dashboard-artists-container table {
    width: 100%;
    border-collapse: collapse;
    height: max-content;
    position: relative;
}

.dashboard-songs-container table thead,
.dashboard-artists-container table thead {
    background-color: var(--orange-base);
    position: sticky;
    top: 200px;
    z-index: 10;
}

.dashboard-songs-container .page-header-container .header .empty-container,
.dashboard-artists-container .page-header-container .header .empty-container {
    width: 100%;
    height: 30px;
    position: sticky;
    z-index: 10;
}

.dashboard-songs-container table thead tr th:not(:nth-last-child(1)),
.dashboard-artists-container table thead tr th:not(:nth-last-child(1)) {
    width: 18%;
}

.dashboard-songs-container th.actions,
.dashboard-songs-container td.actions,
.dashboard-artists-container th.actions,
.dashboard-artists-container td.actions {
    width: 10%;
    position: relative;
}

.dashboard-songs-container td,
.dashboard-artists-container td {
    text-align: center;
}

.dashboard-songs-container table th,
.dashboard-artists-container table th {
    padding: 10px;
}

.dashboard-songs-container table thead tr th:nth-child(1),
.dashboard-artists-container table thead tr th:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-songs-container table thead tr th:nth-last-child(1),
.dashboard-artists-container table thead tr th:nth-last-child(1){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
    
.dashboard-songs-container table tbody td,
.dashboard-artists-container table tbody td {
    padding: 13px;
}

.dashboard-songs-container table tbody tr,
.dashboard-artists-container table tbody tr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.143);
    font-size: 15px;
}

.dashboard-songs-container table tbody tr:hover,
.dashboard-artists-container table tbody tr:hover {
    background-color: rgba(172, 172, 172, 0.143);
    cursor: pointer;
    transition: all .10s ease-in-out;
}

.dashboard-songs-container table .song-badge,
.dashboard-artists-container table .song-badge {
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.dashboard-songs-container table .song-badge.yes,
.dashboard-artists-container table .song-badge.yes {
    background-color: var(--orange-base);
}

.dashboard-songs-container table .song-badge.no,
.dashboard-artists-container table .song-badge.no {
    background-color: var(--gray);
}

.add-song-modal {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.add-song-modal.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.add-song-modal section {
    display: flex;
    column-gap: 20px;
    margin-top: 15px;
}

.add-song-modal fieldset {
    width: 50%;
    border: none;
}

.add-song-modal input:not([type='file']) {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.add-song-modal input[type='file']{
    margin-top: 15px;
    height: 40px;
}

.add-song-modal input:focus {
    border-color: var(--orange-base);
}

.add-song-modal .form-element {
    margin-top: 15px;
}

.add-song-modal label {
    cursor: pointer;
}

.add-song-modal button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    background-color: var(--orange-base);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-song-modal button:disabled {
    background-color: var(--gray);
}

.add-song-modal button img {
    color: transparent;
    width: 30px;
    height: auto;
}


.add-song-modal span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.add-song-modal span:has(button) {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    width: 20%;
    margin-top: 20px;
}

.add-song-modal span:has(button:disabled){
    border-color: var(--gray);
    transform: none;
}

.add-song-modal select {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
    margin-top: 10px;
}

.add-song-modal select:focus {
    border-color: var(--orange-base);
}

.add-song-modal .close-modal {
    width: 25px;
    height: 25px;
    background-color: var(--gray);
    position: absolute;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-song-modal .close-modal img {
    height: auto;
    width: 10px;
}

.song-actions {
    background-color: white;
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    padding: 5px;
    z-index: 1;
}

.song-actions.active {
    display: block;
    font-size: 14px;
}

.song-actions li {
    padding: 5px 10px;
    text-align: start;
    border-radius: 5px;
}

.song-actions li:hover {
    background-color: var(--gray);
}

.publication-song-modal,
.reset-theme-modal {
    background-color: white;
    width: 100%;
    max-width: 350px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.publication-song-modal.active,
.reset-theme-modal.enabled {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.publication-song-modal h3 {
    margin-bottom: 20px;
}

.publication-song-modal .publication-song-choices,
.reset-theme-modal .reset-theme-choices {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.publication-song-modal .publication-song-choices button,
.reset-theme-modal .reset-theme-choices button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 34px;
}

.publication-song-modal .publication-song-choices button.yes:disabled,
.reset-theme-modal .reset-theme-choices button.yes:disabled,
.reset-theme-modal .reset-theme-choices button.no:disabled {
    background-color: var(--gray);
    color: var(--black);
}

.publication-song-modal .publication-song-choices button.yes,
.reset-theme-modal .reset-theme-choices button.yes {
    background-color: var(--orange-base);
}

.publication-song-modal .publication-song-choices button.yes img,
.reset-theme-modal .reset-theme-choices button.yes img {
    width: 19px;
    height: auto;
}

.publication-song-modal .publication-song-choices button.no,
.reset-theme-modal .reset-theme-choices button.no {
    background-color: var(--black);
    color: white;
}

.publication-song-choices span:active,
.reset-theme-modal span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.publication-song-choices span:has(button),
.reset-theme-modal span:has(button) {
    display: block;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.publication-song-choices span:has(button.yes),
.reset-theme-modal span:has(button.yes) {
    border: 1px solid var(--orange-base);
}

.publication-song-choices span:has(button.no),
.reset-theme-modal span:has(button.no) {
    border: 1px solid var(--black);
}

.publication-song-choices span:has(button:disabled),
.reset-theme-modal span:has(button:disabled){
    border-color: var(--gray);
    transform: none;
}

.remove-song-modal {
    background-color: white;
    width: 100%;
    max-width: 350px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 20px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    z-index: 12;
}

.remove-song-modal.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.remove-song-modal h3 {
    margin-bottom: 20px;
    color: red;
}

.remove-song-modal .remove-song-choices {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.remove-song-modal .remove-song-choices button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 34px;
}

.remove-song-modal .remove-song-choices button.yes:disabled,
.remove-song-modal .remove-song-choices button.no:disabled {
    background-color: var(--gray);
    color: var(--black);
}

.remove-song-modal .remove-song-choices button.yes {
    background-color: red;
    color: white;
}

.remove-song-modal .remove-song-choices button.yes img {
    width: 19px;
    height: auto;
}

.remove-song-modal .remove-song-choices button.no {
    background-color: var(--black);
    color: white;
}

.remove-song-choices span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.remove-song-choices span:has(button) {
    display: block;
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.remove-song-choices span:has(button.yes) {
    border: 1px solid red;
}

.remove-song-choices span:has(button.no) {
    border: 1px solid var(--black);
}

.remove-song-choices span:has(button:disabled){
    border-color: var(--gray);
    transform: none;
}