:root {
  --black: #191919;
}

@font-face {
  font-family: Lato;
  src: url("../../public/font/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

.logo-de-me-hira {
  height: auto;
  width: 50px;
}

ul {
  list-style-type: none;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li:nth-child(2){
  width: 50%;
}

nav ul li input {
  height: 40px;
  width: 100%;
  border-color: #FEC700;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 0 16px;
  outline: none;
  transition: all .10s ease-in-out;
}