.terms-and-conditions-container,
.privacy-policy-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 100px;
}

.terms-and-conditions-container .update-date,
.privacy-policy-container .update-date {
    margin: 50px auto;
}

.terms-and-conditions-item {
    margin-bottom: 40px;
}

.terms-and-conditions-item h2 {
    margin-bottom: 20px;
}

.terms-and-conditions-item .sub-text {
    margin-bottom: 20px;
}

.terms-and-conditions-subitem-container {
    list-style-type: initial;
    margin-left: 20px;
}

.terms-and-conditions-subitem-container li {
    margin-bottom: 20px;
}