.song-container .song {
    width: 47%;
    margin: 20px auto 100px auto;
}

.song-container .song .song-poster-container {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.song-container .song .song-poster-container video {
    width: 100%;
    margin: 0;
}

.song .song-info {
    margin-top: 10px;
}