.skeleton-song-container.enabled {
    background-color: white;
    height: calc(100vh - 160px);
    opacity: 1;
    pointer-events: auto;
    transition: 250ms;
}

.skeleton-song-container.disabled {
    opacity: 0;
    pointer-events: none;
}

.skeleton-song-container .song {
    width: 47%;
    margin: 20px auto 100px auto;
}

.skeleton-song-container .song .song-poster-container {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: var(--gray);
}

.skeleton-song-container .song .song-info {
    margin-top: 15px;
}

.skeleton-song-container .song .song-info h2 {
    margin-top: 15px;
}

.skeleton-song-container .song .song-info p {
    margin-top: 20px;
    font-size: initial;
}

.skeleton-song-container .song .song-info .badge {
    font-size: initial;
    padding: 3px 8px;
}