.login-page-container {
    max-width: 1440px;
    margin: auto;
}

.login-page-container form {
    max-width: 400px;
    margin: 100px auto 0 auto;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #acacac36, -3px -3px 10px #acacac36;
}

.login-page-container form input {
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0 10px;
    outline: none;
}

.login-page-container form input:focus {
    border-color: var(--orange-base);
}

.login-page-container .form-element:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 5px;
}

.login-page-container label {
    cursor: pointer;
}

.login-page-container button {
    transition: all .10s ease-in-out;
    padding: 10px 15px;
    background-color: var(--orange-base);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-container button img {
    color: transparent;
    width: 30px;
    height: auto;
}

.login-page-container form span:active {
  transition: all .10s ease-in-out;
  transform: scale(0.85);
}

.login-page-container form span {
    display: block;
    border: 1px solid var(--orange-base);
    padding: 2px;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    width: 100%;
    margin-top: 30px;
}

.login-page-container form span.disabled {
    border-color: var(--gray);
}

.login-page-container button:disabled {
    background-color: var(--gray);
}

.login-page-container form span:active:has(button:disabled) {
  transform: none;
}

.login-page-container form a {
    font-size: 14px;
    color: gray;
    transition: all .25s ease-in-out;
}

.login-page-container form a:hover {
    text-decoration: underline;
    color: var(--black);
    transition: all .25s ease-in-out;
}